<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
   <properties> 
   	<entry key="LogLevel">DEBUG</entry>
    <entry key="Separator">-</entry>
    <entry key="Format">-</entry>
    <entry key="Outputs">Console,log.txt</entry>
   </properties>