<loggers>
	<logger>
		<name>Logger1</name>
		<level>INFO</level>
		<type>json</type>
		<outputs>output/out1.log,console</outputs>
	</logger>
	
	<logger>
		<name>Logger2</name>
		<level>DEBUG</level>
		<format>%d{HH:mm:ss} %n %p %n %m</format>
		<separator>-</separator>
		<type>text</type>
		<outputs>console</outputs>
		<customOutputs>
			<implementor>ar.fiuba.tecnicas.test.handler.CustomHandler</implementor>
			<param1>customHandler.log</param1>
		</customOutputs>
	</logger>
</loggers>

<!--  se podrian efectuar algunas validaciones...
	si loggers tiene mas de 1 logger, el atributo name de cada logger no puede ser vacio, y tienen que ser distintos
	si type == json de un logger, separator y format se ignoran
	level solo puede ser INFO, DEBUG, ...etc
	type puede ser json o text
	outputs puede tener 0 hijos (se asume "console"), 1 o más hijos
	output puede ser "console" o "file:....."
	format puede ser cualquier cosa, separator creo que tambien -->